.scrollmagic-pin-spacer {
    padding: 0;
}

.videoLayer-wexford {
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -20;
}

.videoLayer-wexford video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* #mayo-wrapper {
    width: 100vw;
    height: 100vh;
} */

.videoLayer-mayo {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.videoLayer-mayo video {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.wex-text-box-container {
    top: 0;
    height: 100%;
}

.mayo-text-box-container {
    top: 0;
    height: 100%;
}

.wex-text-box {
    font-style: normal;
    padding: 5px 5px 5px 5px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.wex-text-box last-child {
    /* OPTIONAL: removes extra space at the bottom of the story*/
    margin-bottom: 0;
}

.mayo-text-box {
    font-style: normal;
    position: absolute;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.mayo-text-box last-child {
    margin-bottom: 0;
}

/* Desktop Screen = 1281px to higher resolution desktops*/
@media screen and (min-width: 1281px) {
    .mayo-text-box {
        width: 40vw;
        font-size: 24px;
        left: 50%;
        top: 100%;
    }
    .wex-text-box {
        width: 40vw;
        font-size: 24px;
        left: 50%;
        top: 100%;
    }
}

/* Laptops, Desktops Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
    .mayo-text-box {
        width: 40vw;
        font-size: 24px;
        left: 50%;
        top: 100%;
    }
    .wex-text-box {
        width: 40vw;
        font-size: 24px;
        left: 50%;
        top: 100%;
    }
}

/* Tablets, Ipads (portrait) Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) {
    .mayo-text-box {
        width: 80vw;
        font-size: 24px;
        left: 5%;
        top: 100%;
    }
    .wex-text-box {
        width: 80vw;
        font-size: 24px;
        left: 5%;
        top: 100%;
    }
}

/* Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .mayo-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
    .wex-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
  }

  /* 
  Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
    .mayo-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
    .wex-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
    
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .mayo-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
    .wex-text-box {
        width: 80vw;
        font-size: 18px;
        left: 5%;
        top: 100%;
    }
  }
  

