/* html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
} */

.videoLayer {
    height: 100%;
    width: 100%;
    z-index: -20;
}

.videoLayer video {
    /* object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); */
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    /* outline: dashed orange; */
}

.videoLayer h1 {
    margin: 0;
    position: absolute;
    font-size: 80px;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    /* outline: dashed red; */
}

.text-box {
    position: absolute;
    font-style: normal;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: white solid; */
    font-size: 20px;
    border-radius: 3px;
}

.text-box last-child {
    /* OPTIONAL: removes extra space at the bottom of the story*/
    margin-bottom: 0;
}

#overlay-text-wexford {
    right: 10%;
    top: 100%;
}

#overlay-text-wexford-02 {
    left: 50%;
    top: 100%;
}

#overlay-text-creighton {
    right: 10%;
    top: 100%;
}

#overlay-text-creighton-02 {
    left: 50%;
    top: 100%;
}